.textWhite {
  * {
    color: white
  }
}
.bgUserInf {
 background-color: #03396c ;
 border-radius: 15px;
}
.bgLogOut {
  background-color: #011f4b;
  border-radius: 15px;
}
.bgButton {
  background-color: #ff5252;

}
