<div
  class="border border-1 border-dark w-25 mt-5 px-4 mx-auto m-0 d-flex flex-column justify-content-center align-content-center"
>
  <form>
    <input
      type="text"
      name="nome"
      [(ngModel)]="newUser.nome"
      placeholder="il tuo nome"
      class="form-control mt-5"
    />
    <input
      type="text"
      name="cognome"
      [(ngModel)]="newUser.cognome"
      placeholder="il tuo cognome"
      class="form-control"
    />
    <input
      type="text"
      name="username"
      [(ngModel)]="newUser.username"
      placeholder="il tuo username"
      class="form-control"
    />
    <input
      type="email"
      name="email"
      [(ngModel)]="newUser.email"
      placeholder="la tua email"
      class="form-control"
    />
    <input
      type="password"
      name="nome"
      [(ngModel)]="newUser.password"
      placeholder="la tua password"
      class="form-control"
    />
    <div class="my-3">
      <button (click)="register()" class="btn btnColor text-light">
        Registrati!
      </button>
    </div>
  </form>
</div>
