<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">DMV</a>
    <button
      type="button"
      class="navbar-toggler btn btn-outline-primary"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/movies"
            >Tutti i film</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="!isLoggedIn" routerLink="/"
            >Accedi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/dashboard"
            >Il tuo profilo</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/users"
            >Tutti gli utenti</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
